
.react-datepicker{
    font-size: 13px !important;
    margin:-15px;
    
}
.react-datepicker__header{
    background-color: white;
    border:none;
}

/* .react-datepicker__day-name,
.react-datepicker__day {
    /* width: 30px !important; */
    /* font-size: 12px;
    line-height: 14px !important;
    color: #7a7a7a !important; */
/* } */


.react-datepicker__day--today {
    background-color: white;
    color: red;
}
